extends template-blog

block append resources
	script.
		var displayNewPost = false;
		window.onload = function() {
			document.querySelector("#user button").onclick = function() {
				if (!displayNewPost) {
					document.getElementById("newpost").style.display = "block";
					displayNewPost = !displayNewPost;
				}
				else {
					document.getElementById("newpost").style.display = "none";
					displayNewPost = !displayNewPost;
				}
			};
			document.querySelector("#user b").onclick = function() {
			};
		};

block content
	#layout.pure-g
	.sidebar.pure-u-1.pure-u-md-1-4
		header.header
			if loggedIn
				span#user Logged in as <b>#{user.username}</b>
					br
					button.pure-button.button-xsmall(title="Add Post")
						i.fa.fa-plus
						| &nbsp; New Post
			h1.brand-title Dragonoids Robotics
			h2.brand-tagline Blog of FTC Team 4286
			nav.nav
				ul.nav-list
					li.nav-item
						a.pure-button(href="/") Home
					li.nav-item
						if loggedIn
							a.pure-button(href="/logout") Logout
						else
							a.pure-button(href="/login") Team Login
	.content.pure-u-1.pure-u-md-3-4
		form.pure-form#newpost(method="post")
			h2 New Post
			fieldset.pure-group
				input.pure-input-2-3(type="text", placeholder="Title", required=true, name="title")
			fieldset.pure-group
				input.pure-input-2-3(type="text", placeholder="Tags (separated with commas)", name="tags")
			fieldset.pure-group
				input.pure-input-2-3(type="text", placeholder="Images (URLs separated with commas)", name="images")
				input.pure-input-2-3(type="text", placeholder="YouTube Videos (URLs separated with commas)", name="youtube")
			label.pure-input-1-4.pure-checkbox(for="private")
				input#private(type="checkbox", name="private")
				| &nbsp;Only visable to group members?
			label.pure-input-1-4.pure-checkbox(for="pinned")
				input#pinned(type="checkbox", name="pinned")
				| &nbsp;Pinned post?
			fieldset.pure-group
				textarea.pure-input-2-3(placeholder="Content", rows="6", required=true, name="content")
			button.pure-button.pure-button-primary.pure-input-1-3(type='submit') Post

		// A wrapper for all the blog posts
		div
			mixin post(post)
				if (post.private && loggedIn) || !post.private
					section.post
						header.post-header
							h2.post-title= post.title
								//
									if user && (post.author.username === user.username)
										//- This is the user's post
										button.pure-button.button-danger
											i.fa.fa-exclamation-triangle
											| &nbsp;Delete
							p.post-meta
								| By 
								a.post-author(href="#", title=post.author.username)= post.author.name
								| &nbsp;
								if post.tags.length > 0
									| under 
									each tag in post.tags
										a.post-category.post-category-design(href="#")= tag
										| &nbsp;
										//a.post-category.post-category-pure(href="#") Pure
								| on 
								span.date #{post.date.toDateString()} at #{post.date.toLocaleTimeString()}
								if post.private
									span.private &nbsp;(private)
						.post-description
							p= post.content
			.posts
				h1.content-subhead Pinned Posts
				if pinnedPosts.length > 0
					each post in pinnedPosts
						+post(post)
				else
					h3: i No pinned posts yet
			.posts
				h1.content-subhead Recent Posts
				if posts.length > 0
					each post in posts
						+post(post)
				else
					h3: i No posts yet
			footer
				p Copyright &copy; 2014 Dragonoids Robotics
				p Website released under the 
					a(href="http://opensource.org/licenses/MIT", target="_blank") MIT license
					| &nbsp; on 
					a(href="https://github.com/petschekr/Dragonoids-Website", target="_blank") GitHub