extends template

block prewrapper
	.splash-container
		.splash
			h1.splash-head GFA Dragonoids Robotics Team
			p.splash-subhead
				a(href="http://www.usfirst.org/roboticsprograms/ftc/", target="_blank") FTC
				| &nbsp;Team 4286 from Greens Farms, Connecticut
			p: a.pure-button.pure-button-primary(href="/blog") View Our Blog

block content
	.content
		h2.content-head.is-center Meet our team

		.pure-g
			each member in members
				.l-box.pure-u-1.pure-u-md-1-2.pure-u-lg-1-4.member
					img(src=member.img, alt=member.name)
					h3.content-subhead= member.name
					h4.content-subhead= member.positions.join(", ")
					p= member.bio

	.ribbon.l-box-lrg.pure-g
		.l-box-lrg.is-center.pure-u-1.pure-u-md-1-2.pure-u-lg-2-5
			img.pure-img-responsive(alt="File Icons", width="300", src="http://placehold.it/300x175")
		.pure-u-1.pure-u-md-1-2.pure-u-lg-3-5
			h2.content-head.content-head-ribbon 2013-2014 Season Robot: The Vandalizer II
			p
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				| consequat. Duis aute irure dolor.

	.content
		h2.content-head.is-center About our team
		.pure-g
			.l-box-lrg.pure-u-1
				p.columns.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id quam vitae enim tincidunt posuere id eget leo. Morbi rutrum consectetur scelerisque. Nulla laoreet auctor elementum. Praesent non enim bibendum, aliquam orci eget, porta metus. Etiam egestas, risus id luctus suscipit, mi turpis ultricies ipsum, vitae dapibus odio quam vel odio. Aliquam placerat justo nisi, eu scelerisque ante maximus quis. Sed elementum nisl pharetra facilisis dictum. Aenean sodales augue facilisis orci dapibus, quis scelerisque ex pulvinar. Proin fringilla augue et nulla pretium pulvinar.
					Nullam finibus nisi augue, in auctor libero tempus eu. Donec tristique, augue sed eleifend luctus, libero nunc tempus est, porta viverra ligula ipsum id ex. Donec consequat diam dictum nunc rutrum semper. Proin auctor faucibus sodales. Aliquam erat volutpat. Aenean eros lorem, finibus a vestibulum sit amet, condimentum porttitor tortor. Nullam accumsan urna nec elementum tempor. Integer ultricies suscipit massa, a feugiat purus efficitur et. Curabitur condimentum magna et nisi fermentum, eget porttitor quam fermentum. Phasellus ac mollis mauris. In est nisi, efficitur ut libero eget, varius aliquet odio. Cras eu nulla sit amet magna posuere viverra sit amet et neque. Nam volutpat nulla ac ipsum blandit, vitae tincidunt justo facilisis. Cras et sem ac massa imperdiet interdum quis vitae est.
					Curabitur sagittis mi ut tellus commodo, et maximus lacus egestas. Proin pulvinar lorem sed dapibus fermentum. Ut vestibulum consequat augue, sed aliquet augue. Aenean tempus ligula volutpat nisi auctor, laoreet dapibus nulla fermentum. Praesent interdum nunc at vehicula semper. Suspendisse porttitor pulvinar ante, vel malesuada neque auctor sed. Sed et nisl nec diam commodo semper.

block footer
	p Copyright &copy; 2014 Dragonoids Robotics
	p Website released under the 
		a(href="http://opensource.org/licenses/MIT", target="_blank") MIT license
		| &nbsp; on 
		a(href="https://github.com/petschekr/Dragonoids-Website", target="_blank") GitHub
	a(href="http://www.gfacademy.org/", target="_blank")
		img(src="/img/gfa.png", alt="Greens Farms Academy")