extends template

block prewrapper
	.splash-container
		.splash
			h1.splash-head GFA Dragonoids Robotics Team
			p.splash-subhead
				a(href="http://www.usfirst.org/roboticsprograms/ftc/", target="_blank") FTC
				| &nbsp;Team 4286 from Greens Farms, Connecticut
			p: a.pure-button.pure-button-primary(href="/blog") View Our Blog

block content
	.content
		h2.content-head.is-center Meet our team

		.pure-g
			each member in members
				.l-box.pure-u-1.pure-u-md-1-2.pure-u-lg-1-4.member
					img(src=member.img, alt=member.name)
					h3.content-subhead= member.name
					h4.content-subhead= member.positions.join(", ")
					p= member.bio

	.ribbon.l-box-lrg.pure-g
		.l-box-lrg.is-center.pure-u-1.pure-u-md-1-2.pure-u-lg-2-5
			img.pure-img-responsive(alt="The Vandalizer II", width="300", src="http://placehold.it/300x175")
		.pure-u-1.pure-u-md-1-2.pure-u-lg-3-5
			h2.content-head.content-head-ribbon 2013-2014 Season Robot: <i>The <strong>Van</strong>dalizer II</i>
			p.
				Named for the club's founder, Van Barnet, the <i><strong>Van</strong>dalizer II</i> brought the Dragonoids team much success in the 2013-2014 FTC Season at the "Block Party!" Challenge. Placing 3rd at the Connecticut Qualifiers and in the top 10 of the Connecticut Championship hosted at our school, Greens Farms Academy, the <i><strong>Van</strong>dal II</i>'s success inspires the team to do even better in the 2014-2015 FTC Season.

	.content
		h2.content-head.is-center About our team
		.pure-g
			.l-box-lrg.pure-u-1
				// Taken from the mission statement (TODO: rewrite this and make it better)
				p.columns.
					The goal and mission of the GFA Robotics Team is to get kids together to help build and program robots, which will compete in competitions with FIRST Robotics. The FIRST (For Inspiration and Recognition of Science and Technology) competition requires a diverse group of individuals. We need strategists, problem solvers, builders, individuals who can work in a team environment. The team must complete a challenging project with a limited budget and a strict deadline. The club requires individuals for various positions involving our website, notebook journal, database, fundraising, and publicity as well. The GFA Robotics club members will also learn the skills to build a successful robot and some of the skills that are important for STEM (Science, Technology, Engineering, Math) careers, which include scientists, mechanical and electrical engineers, computer scientists, technicians, etc. In addition to having fun designing and building the robot, there are a number of scholarships (over 14 million dollars) available to FIRST Team Participants who complete a full year.

block footer
	footer.footer.l-box.is-center
		p Copyright &copy; 2014 Dragonoids Robotics
		p Website released under the 
			a(href="http://opensource.org/licenses/MIT", target="_blank") MIT license
			| &nbsp; on 
			a(href="https://github.com/petschekr/Dragonoids-Website", target="_blank") GitHub
		a(href="http://www.gfacademy.org/", target="_blank")
			img(src="/img/gfa.png", alt="Greens Farms Academy")